#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# VSCode
.vscode

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#LeafDoc
node_modules
docs
package-lock.json

# Do not upload the images, they can be created
# with java -jar plantuml.jar sequenceDiagram.txt
# https://plantuml.com/es/starting
/diagrams/*.png
api/src/main/webui
.quinoa/