<!DOCTYPE html>
<html>
<head>
	<title>Zimara backend documentation</title>
	<link rel="icon" href="./favicon.ico">
	<meta charset="utf-8">
	<style>
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	table td, table th {
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
	}
	td:first-child, th:first-child {
		border-left: 1px solid #888;
	}
	table tr:first-child td, table tr:first-child th {
		border-top: 1px solid #888;
	}
	table thead th {
		position:sticky;
		top: 29px;
		background: white;
		border-collapse: separate;
		border-spacing: 0;
	}


	pre code {
		display: inline-block;
		background: #eee;
	}
	td:last-child code {
		background: #eee;
	}
	body {
		font-family: Sans;
		max-width: 50em;
		margin: auto;
	}

	code {
		font-size: 120%;
	}

	pre > code {
		font-size: inherit;
	}

	h2 {
		margin-top: 4em;
		margin-left: 0;
		position: sticky;
		top: 0;
		z-index: 10;
		background: white;
		height: 29px;
	}
	section.namespace{
		margin-left: 1.5em;
	}

	h3 {
		margin-left: -.5em;
	}

	</style>
</head>
<body>
	<h1>Zimara backend documentation</h1>

    <h2>Simplified Class Hierarchy</h2>

    <a target="_blank" href="./class-diagram-model.dot.svg" ><img src="./class-diagram-model.dot.svg"/></a>

    <a target="_blank" href="./class-diagram-api.dot.svg" ><img src="./class-diagram-api.dot.svg"/></a>

    <a target="_blank" href="./class-diagram-metadata.dot.svg" ><img src="./class-diagram-metadata.dot.svg"/></a>

	{{{ body }}}

</body></html>
