<!DOCTYPE html>
<html>
<head>
	<title>Kaoto backend documentation</title>
	<link rel="icon" href="./favicon.ico">
	<meta charset="utf-8">
	<style>
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	table td, table th {
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
	}
	td:first-child, th:first-child {
		border-left: 1px solid #888;
	}
	table tr:first-child td, table tr:first-child th {
		border-top: 1px solid #888;
	}
	table thead th {
		position:sticky;
		top: 29px;
		background: white;
		border-collapse: separate;
		border-spacing: 0;
	}


	pre code {
		display: inline-block;
		background: #eee;
	}
	td:last-child code {
		background: #eee;
	}
	body {
		font-family: Sans;
		max-width: 50em;
		margin: auto;
	}

	code {
		font-size: 120%;
	}

	pre > code {
		font-size: inherit;
	}

	h2 {
		margin-top: 2em;
		margin-left: 0;
		position: sticky;
		top: 0;
		z-index: 10;
		background: white;
	}
	section.namespace{
		margin-left: 1.5em;
	}

	h3 {
		margin-left: -.5em;
	}

	</style>
</head>
<body>
	<h1>Kaoto backend documentation</h1>

	<p>This is an automated documentation generated based on comments in the code.</p>

	<p>There is also a static swagger <a href="api/index.html">API documentation</a> available.</p>

    <h2>Simplified Class Hierarchy</h2>

    <a target="_blank" href="./class-diagram.dot.svg" ><img style="max-width:100%" src="./class-diagram.dot.svg"/></a>
    <p>(click to enlarge)</p>

	{{{ body }}}

    <br/>
	<p>You can learn more on <a target="_blank" href="https://kaoto.io">https://kaoto.io</a>.</p>

</body></html>
