"%dev":
  repository:
    step:
      jar:
        - url: "resource://camel-kamelets-0.10.0.jar"
          if-no-cluster: true
        - url: "https://github.com/KaotoIO/camel-component-metadata/archive/refs/heads/main.zip"
        - url: "resource://camel-3.19.0.zip"
          kind: "Camel-Connector"
    viewdefinition:
      jar:
        - url: "https://github.com/KaotoIO/kaoto-viewdefinition-catalog/archive/refs/heads/main.zip"
"%prod":
  repository:
    step:
      jar:
        - url: "resource://camel-kamelets-0.10.0.jar"
          if-no-cluster: true
          kind: "Kamelet"
        - url: "resource://camel-component-metadata.zip"
        - url: "resource://camel-3.19.0.zip"
          kind: "Camel-Connector"
    viewdefinition:
      jar:
        - url: "resource://view-definition.zip"

crd:
  default: "KameletBinding"

quarkus:
  native:
    additional-build-args: -H:ResourceConfigurationFiles=resources-config.json
  application:
    name: kaoto-backend
  http:
    cors: true
    port: 8081
    enable-compression: true
  log:
    category:
      io.kaoto.backend.api:
        level: "INFO"
      org.ecl.yas.int:
        level: "INFO"
  quartz:
    misfire-policy: ignore-misfire-policy
    plugins:
      jobHistory:
        class: org.quartz.plugins.history.LoggingJobHistoryPlugin
        properties:
          jobSuccessMessage: "Job [{1}.{0}] execution complete and reports: {8}"
